    <div class="content">
    <h2>Welcome to the Identifying Bug Bites!</h2><p>


<img src="{{image}}"><p>
<span id="front"></span>


Take our 5 question quiz to identify the bug that bit you. You can also browse the glossary to identify the bug as well.
    <div class="main_button">
        <a href="/quiz">Take Quiz</a><p>
        <a href="/glossary">Glossary</a>
  </div>
